body {
  background-color: #fbc547;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  // padding: 18vh 1rem;
  // text-align: center;
  margin: 0;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}



 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
 li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

.row{
  text-align: center;
}
.column-one-third {
  float: left;
  width: 33.33%;
}

.column-two-third {
  float: left;
  width: 66.66%;
}

.avatar{
  max-width: 80%;
  border-radius: 50%;
  max-height: 580px;

}
// li a:hover {
//   background-color: #111;
// }