<div class='contact'>
	<h1>Contact Information:</h1>
	<table>
		<tr>
			<td>Name:</td>
			<td>@student.first_name @student.last_name</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td>@student.email</td>
		</tr>
		<tr>
			<td>Phone:</td>
			<td>@student.phone</td>
		</tr>
		<tr>
			<td>Availability:</td>
			<td></td>
		</tr>
		<tr>
			<td>Classes Taken:</td>
			<td>
				
			</td>
		</tr>
	</table>
</div>
<div class='recommendations'>
	<h1>Recommendations</h1>

</div>