<h1 class="landing-page-title">Hiring Portal</h1>
<h2 class="landing-page-title">Department of Computer Science & Engineering</h2>
<div class="user-choice">
  <a href="/user/login" class="btn btn-primary btn-block btn-lg landing-page-buttons">Existing Student/Administrator/Instructor Login</a>
  <a href="/user/signup" class="btn btn-primary btn-block btn-lg landing-page-buttons">Create Account</a>
</div>