<h1>Hello World</h1>
<div class="center">
  <a href="/user/login" class="btn btn-primary btn-block btn-lg">Existing Student/Administrator/Instructor Login</a>
  <a href="/user/signup" class="btn btn-primary btn-block btn-lg">Create Account</a>
</div>