<h2><%=@instructorName%> Instructor Profile</h2>
<hr>
<a href="/instructor/recommendation" class="btn btn-primary">Submit Recommendation</a>
<a href="/instructor/recommendation/edit" class="btn btn-primary">Edit Recommendation</a>

