---
title: Mike Bond's Home Page
---
<div class="plassCenter">
  <h1>
    Mike Bond's Home Page
  </h1>
  <h3>
    Associate Professor of Computer Science & Engineering at The Ohio State University
  </h3>
  <div class="row">
    <div class="column-one-third">
      <h2><a href="mailto:mikebond@cse.ohio-state.edu">Email Me</a> or Visit Me in Dreese 697</h2>
      <img src="./images/assist.jpeg" class="avatar"/>
    </div>
    <div class="column-two-third">
      <h2>News</h2>
        <h4>
          Rui Zhang's paper on <a href=papers.html#peacenik>Peacenik: architecture support for not failing under fail-stop
          memory consistency</a> will appear at ASPLOS 2020!
        </h4>
        <h4>
          Jake Roemer defended his PhD thesis in April and graduated in August 2019! He's seeking
          industry and industrial research jobs.
        </h4>
        <h4>
          Kaan Genç's paper on <a href=papers.html#depaware>dependence-aware predictive race detection</a> appeared at OOPSLA 2019!
        </h4>
        <h4>
          Swarnendu Biswas's paper on <a href=papers.html#arc>ARC: rethinking support for region conflict exceptions</a> appeared at IPDPS 2019!
        </h4>
    </div>
  </div>
</div>