<div class="plassCenter">
  <h1 class="tAlignCenter">Programming Languages and Software Systems Research Group</h1>
  <p  class="tAlignCenter">Computer Science & Engineering Department, Ohio State University</p>
  <p>Current Members:</p>
  <ul>
    <li>Michael Bond (faculty)</li>
    <li>Kaan Genç (PhD Student)</li>
    <li>Rui Zhang (PhD Candidate)</li>
  </ul>
  <p>Graduated members, with positions as of 2019:</p>
  <ul>
    <li>Jake Roemer  (PhD, 2019) — seeking industry and industrial research jobs</li>
    <li><a href="http://web.cse.ohio-state.edu/~cao.235/">Man Cao</a> (PhD, 2017) — Google</li>
    <li><a href="http://web.cse.ohio-state.edu/~sengupta.25/">Aritra Sengupta</a> (PhD, 2017) — Samsung Research America</li>
    <li><a href="https://www.cse.iitk.ac.in/users/swarnendu/">Swarnendu Biswas</a> (PhD, 2016) — IIT Kanpur (tenure-track faculty)</li>
    <li><a href="http://zhangminjia.me">Minjia Zhang</a> (PhD, 2016) — Microsoft Research</li>
    <li><a href="http://huangjip.github.io">Jipeng Huang</a> (MS, 2014) — Google</li>
  </ul>
  <p>Primary external collaborators:</p>
  <ul>
    <li><a href="https://engineering.purdue.edu/~milind/">Milind Kulkarni</a> (Purdue)</li>
    <li><a href="https://brandonlucia.com">Brandon Lucia</a> (CMU)</li>
  </ul>
  <p>We also collaborate or have collaborated with <a href="http://users.cecs.anu.edu.au/~steveb/">Steve Blackburn</a> (Australian National University), 
  <a href="http://web.cs.ucla.edu/~harryxu/">Harry Xu</a> (UCLA), <a href="http://web.cse.ohio-state.edu/~zhang.834/">Yinqian Zhang<a> (Ohio State), <a href="https://cs.wellesley.edu/~bpw/">Ben Wood</a> (Wellesley), and <a href="https://homes.cs.washington.edu/~djg/">Dan Grossman</a> (U Washington).</p>
  <p>Image Gallery:</p>
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="./images/plass-may-2017.jpeg">
        <img src="./images/plass-may-2017.jpeg" width="600" height="400">
      </a>
      <div class="desc">Celebrating Aritra and Man's PhD defenses and graduations (May 2017)<br>
    From left to right: Mike, Aritra, Man, Jake, Rui</div>
    </div>
  </div>


  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="./images/plass-sept-2016.jpeg">
        <img src="./images/plass-sept-2016.jpeg" width="600" height="400">
      </a>
      <div class="desc">Celebrating Minjia and Swarnendu's PhD defenses and graduations (Sept 2016)<br>
    From left to right: Aritra, Man, Rui, Jake, Mike, Minjia, Swarnendu, [family member]</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="./images/plass-april-2016.jpeg">
        <img src="./images/plass-april-2016.jpeg" width="600" height="400">
      </a>
      <div class="desc">After Minjia's PhD defense (April 2016)<br>
    From left to right: Man, Aritra, Minjia, Mike, Rui</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="./images/hangouts-2013.jpeg">
        <img src="./images/hangouts-2013.jpeg" width="400" >
      </a>
      <div class="desc">Collaborating on the EnfoRSer project on Google Hangouts (c. 2013)<br>
    From left to right: Aritra, Mike, Milind Kulkarni</div>
    </div>
  </div>

</div>
