<div class="research">
	<h1>Research</h1>
	<div class= "upper">
		
		<div class = "block center group">
			<h2>Research Group</h2>
			<p>
			My <a href="plass.html">
				<b>research group</b>
			</a>
			 develops program analyses and software systems that make complex, concurrent software significantly more reliable, scalable, and secure than it is today. 
			<p>
		</div>
		<div class = "block intrest">
			<h2>General Intrests</h2>
			<ul>
				<li>Programming languages</li>
				<li>Software and hardware systems</li>
				<li>Program analysis</li>
				<li>Compilers</li>
				<li>Security</li>
			</ul>	
		</div>
	</div>
	<div class="lower">
		<hr />
		<h1>Publications of PLaSS and Mike Bond</h1>
		<h2>Recent Manuscripts</h2>
		<div id="purple">
			<table>
				<tr>
				  <th>Reviewer and Date</th>
				  <th>Title</th>
				  <th>Author(s)</th>
				</tr>
				<tr>
			      <td> arXiv (2019) &nbsp; &nbsp;</td>
			      <td> 
			      	<a href=https://arxiv.org/abs/1905.00494>Practical Predictive Race Detection</a>
			        <br> <i>In submission or in preparation for submission</i></br>
			      </td>
			      <td> Jake Roemer, Kaan Gen&ccedil;, and Michael D. Bond</td>
			    </tr>  
			    <tr>
			      <td> arXiv (2019) &nbsp;&nbsp;</td>
			      <td> 
			      	<a href=https://arxiv.org/abs/1907.08337>Online Set-Based Dynamic Analysis for Sound Predictive Race Detection</a>
			      	<br> <i>Final version of a 2016 <a href=https://web.cse.ohio-state.edu/oportal/tech_reports?utf8=%E2%9C%93&per_page=50&year=2016&title=&authors=roemer&commit=Filter>technical report</a></i>
			      </td>
			      <td> Jake Roemer and Michael D. Bond</td>
				</tr>
			</table>
		</div>
		<div id="blue">
			<h2>Refereed Publicaitions</h2>
			<table>
				<tr>
				  <th>Publisher and Date</th>
				  <th>Title</th>
			      <th>Author(s)</th>
				</tr>
				<tr>
			      <td> ASPLOS 2020 </td>
			      <td> <a href=papers.html#peacenik>Peacenik: Architecture Support for Not Failing under Fail-Stop Memory Consistency</a></td>
			      <td> Rui Zhang, Swarnendu Biswas, Vignesh Balaji, Michael D. Bond, and Brandon Lucia</td>
			    </tr>
			    <tr>
			      <td> OOPSLA 2019</td>
			      <td> <a href=papers.html#depaware>Dependence-Aware, Unbounded Sound Predictive Race Detection</a></td>
			      <td> Kaan Gen&ccedil;, Jake Roemer, Yufan Xu, and Michael D. Bond</td>
			    </tr>
			    <tr>
			      <td> IPDPS 2019</td>
			      <td> <a href=papers.html#arc>Rethinking Support for Region Conflict Exceptions</a></td>
			      <td> Swarnendu Biswas, Rui Zhang, Michael D. Bond, and Brandon Lucia</td>
			    </tr>
			    <tr>
			      <td> PLDI 2018</td>
			      <td> <a href=papers.html#vindicator>High-Coverage, Unbounded Sound Predictive Race Detection</a></td>
			      <td> Jake Roemer, Kaan Gen&ccedil;, and Michael D. Bond</td>
			    </tr>
			    <tr>
			      <td> OOPSLA 2017</td>
			      <td> <a href=papers.html#fib>Instrumentation Bias for Dynamic Data Race Detection</a></td>
			      <td> Benjamin P. Wood, Man Cao, Michael D. Bond, and Dan Grossman</td>
			    </tr>
			    <tr>
			      <td> TOPC (2017)</td>
			      <td> <a href=papers.html#hybrid-relaxed-tracking-topc>Hybridizing and Relaxing Dependence Tracking for Efficient Parallel Runtime Support</a></td>
			      <td> Man Cao, Minjia Zhang, Aritra Sengupta, Swarnendu Biswas, and Michael D. Bond</td>
			    </tr>
			    <tr>
			      <td> ISMM 2017</td>
			      <td> <a href=papers.html#avalon>Avoiding Consistency Exceptions Under Strong Memory Models</a></td>
			      <td> Minjia Zhang, Swarnendu Biswas, and Michael D. Bond</td>
			    </td>
			    <tr>
			      <td> CGO 2017</td>
			      <td> <a href=papers.html#legato>Legato: End-to-End Bounded Region Serializability Using Commodity Hardware Transactional Memory</a></td>
			      <td> Aritra Sengupta, Man Cao, Michael D. Bond, and Milind Kulkarni</td>
			    </tr>
			    <tr>
			      <td> CC 2017</td>
			      <td> <a href=papers.html#racechaser-caper>Lightweight Data Race Detection for Production Runs</a></td>
			      <td> Swarnendu Biswas, Man Cao, Minjia Zhang, Michael D. Bond, and Benjamin P. Wood</td>
			    </tr>
			    <tr>
			      <td> ISMM 2016</td>
			      <td> <a href=papers.html#prescient-memory>Prescient Memory: Exposing Weak Memory Model Behavior by Looking into the Future</a></td>
			      <td> Man Cao, Jake Roemer, Aritra Sengupta, and Michael D. Bond</td>
			    </tr>
			    <tr>
			      <td> CC 2016</td>
			      <td> <a href=papers.html#relaxed-tracking>Relaxed Dependence Tracking for Parallel Runtime Support</a></td>
			      <td> Minjia Zhang, Swarnendu Biswas, and Michael D. Bond</td>
			    </tr>
			    <tr>
			      <td> PPoPP 2016</td>
			      <td> <a href=papers.html#hybrid-tracking>Drinking from Both Glasses:
			           Combining Pessimistic and Optimistic Tracking of Cross-Thread Dependences</a></td>
			      <td> Man Cao, Minjia Zhang, Aritra Sengupta, and Michael D. Bond</td>
			    </tr>
			    <tr>
			      <td> OOPSLA 2015</td>
			      <td> <a href=papers.html#valor>Valor: Efficient, Software-Only Region Conflict Exceptions</a></td>
			      <td> Swarnendu Biswas, Minjia Zhang, Michael D. Bond, and Brandon Lucia</td>
			    </tr>
			    <tr>
			      <td> PPPJ 2015</td>
			      <td> <a href="papers.html#replay">Efficient Deterministic Replay of Multithreaded Executions in a Managed Language Virtual Machine</a></td>
			      <td> Michael D. Bond, Milind Kulkarni, Man Cao, Meisam Fathi Salmi, and Jipeng Huang</td>
			    </tr>
			    <tr>
			      <td> PPPJ 2015</td>
			      <td> <a href="papers.html#hybrid-enforser">Toward Efficient Strong Memory Model Support for the Java Platform via Hybrid Synchronization</a></td>
			      <td> Aritra Sengupta, Man Cao, Michael D. Bond, and Milind Kulkarni</td>
			    </tr>
			    <tr>
			      <td> ASPLOS 2015</td>
			      <td> <a href="papers.html#enforser">Hybrid Static&ndash;Dynamic Analysis for Statically Bounded Region Serializability</a></td>
			      <td> Aritra Sengupta, Swarnendu Biswas, Minjia Zhang, Michael D. Bond, and Milind Kulkarni</td>
			    </tr>
			    <tr>
			      <td> PPoPP 2015</td>
			      <td> <a href="papers.html#larktm">Low-Overhead Software Transactional Memory with Progress Guarantees and Strong Semantics</a></td>
			      <td> Minjia Zhang, Jipeng Huang, Man Cao, and Michael D. Bond</td>
			    </tr>
			    <tr>
			      <td> PLDI 2014</td>
			      <td> <a href="papers.html#doublechecker">DoubleChecker: Efficient Sound and Precise Atomicity Checking</a></td>
			      <td> Swarnendu Biswas, Jipeng Huang, Aritra Sengupta, and Michael D. Bond</td>
			    </tr>
			    <tr>
			      <td> TOPLAS (2014)&nbsp;&nbsp;</td>
			      <td> <a href=papers.html#laminar-toplas>Practical Fine-Grained Information Flow Control Using Laminar</a></td>
			      <td> Donald E. Porter, Michael D. Bond, Indrajit Roy, Kathryn S. McKinley, and Emmett Witchel</td>
			    </tr>
			    <tr>
			      <td> WoDet 2014</td>
			      <td> <a href="papers.html#adaptive-sync">Drinking from Both Glasses:
			           Adaptively Combining Pessimistic and Optimistic Synchronization for
			           Efficient Parallel Runtime Support</a></td>
			      <td> Man Cao, Minjia Zhang, and Michael D. Bond</td>
			    </tr>
			    <tr>
			      <td> OOPSLA 2013</td>
			      <td> <a href="papers.html#octet">Octet: Capturing and Controlling Cross-Thread Dependences Efficiently</a></td>
			      <td> Michael D. Bond, Milind Kulkarni, Man Cao, Minjia Zhang, Meisam Fathi Salmi, Swarnendu Biswas, Aritra Sengupta, and Jipeng Huang</td>
			    </tr>
			    <tr>
			      <td> OOPSLA 2013</td>
			      <td> <a href="papers.html#ccu">Efficient Context Sensitivity for Dynamic Analyses via Calling Context Uptrees and Customized Memory Management</a></td>
			      <td> Jipeng Huang and Michael D. Bond</td>
			    </tr>
			    <tr>
			      <td> PLDI 2011</td>
			      <td> <a href="papers.html#leak-chaser">LeakChaser: Helping Programmers Narrow Down Causes of Memory Leaks</a></td>
			      <td> Guoqing "Harry" Xu, Michael D. Bond, Feng Qin, and Atanas Rountev</td>
			    </tr>  
			    <tr>
			      <td> PLDI 2011</td>
			      <td> <a href="papers.html#security-policy-oracle">A Security Policy Oracle: Detecting Security Holes Using Multiple API Implementations</a></td>
			      <td> Varun Srivastava, Michael D. Bond, Kathryn S. McKinley, and Vitaly Shmatikov</td>
			    </tr>
			    <tr>
			      <td> PLDI 2010</td>
			      <td> <a href="papers.html#pacer">Pacer: Proportional Detection of Data Races</a></td>
			      <td> Michael D. Bond, Katherine E. Coons, and Kathryn S. McKinley</td>
			    </tr>
			    <tr>
			      <td> PLDI 2010</td>
			      <td> <a href="papers.html#breadcrumbs">Breadcrumbs: Efficient Context Sensitivity for Dynamic Bug Detection Analyses</a></td>
			      <td> Michael D. Bond, Graham Z. Baker, and Samuel Z. Guyer</td>
				</tr>
			    <tr>
			      <td> PLAS 2010</td>
			      <td> <a href="papers.html#pecan">Efficient, Context-Sensitive Detection of Real-World Semantic Attacks</a></td>
			      <td>Michael D. Bond, Varun Srivastava, Kathryn S. McKinley, and Vitaly Shmatikov</td>
			    </tr>
			    <tr> 
			      <td> ASPLOS 2009</td>
			      <td> <a href="papers.html#leak-pruning">Leak Pruning</a></td>
			      <td> Michael D. Bond and Kathryn S. McKinley</td>
			    </tr>
			    <tr>
			      <td> PLDI 2009</td>
			      <td> <a href="papers.html#laminar">Laminar: Practical Fine-Grained Decentralized Information Flow Control</a></td>
			      <td> Indrajit Roy, Donald E. Porter, Michael D. Bond, Kathryn S. McKinley, and Emmett Witchel</td>
			    </tr>
			    <tr>
			      <td> OOPSLA 2008</td>
			      <td> <a href="papers.html#melt">Tolerating Memory Leaks</a></td>
			      <td> Michael D. Bond and Kathryn S. McKinley</td>
			    </tr>
			    <tr>
			      <td> OOPSLA 2007</td>
			      <td> <a href="papers.html#pcc">Probabilistic Calling Context</a></td>
			      <td> Michael D. Bond and Kathryn S. McKinley</td>
			    </tr>
			    <tr>
			      <td> OOPSLA 2007</td>
			      <td> <a href="papers.html#origin-tracking">Tracking Bad Apples: Reporting the Origin of Null and Undefined Value Errors</a></td>
			      <td> Michael D. Bond, Nicholas Nethercote, Stephen W. Kent, Samuel Z. Guyer, and Kathryn S. McKinley</td>
			    </tr>
			    <tr>
			      <td> CC 2007</td>
			      <td> <a href="papers.html#cgc">Correcting the Dynamic Call Graph Using Control Flow Constraints</a></td>
			      <td> Byeongcheol Lee, Kevin Resnick, Michael D. Bond, and Kathryn S. McKinley</td>
			    </tr>
			    <tr>
			      <td> ASPLOS 2006</td>
			      <td> <a href="papers.html#bell">Bell: Bit-Encoding Online Memory Leak Detection</a></td>
			      <td> Michael D. Bond and Kathryn S. McKinley</td>
			    </tr>
			    <tr>
			      <td> MICRO 2005</td>
			      <td> <a href="papers.html#pep">Continuous Path and Edge Profiling</a></td>
			      <td> Michael D. Bond and Kathryn S. McKinley</td>
			    </tr>
			    <tr>
			      <td> CGO 2005</td>
			      <td> <a href="papers.html#ppp">Practical Path Profiling for Dynamic Optimizers</a></td>
			      <td> Michael D. Bond and Kathryn S. McKinley</td>
			    </tr>
			    <tr>
			      <td> CGO 2004</td>
			      <td> <a href="papers.html#tpp">Targeted Path Profiling: Lower Overhead Path Profiling for Staged Dynamic Optimization Systems</a></td>
			      <td> Rahul Joshi, Michael D. Bond, and Craig Zilles</td>
			  	</tr>   
			</table>
		</div>
		<div id="green">		
			<h2>Dissertations and Theses</h2>
			<table>
				<tr>
				  <th>Type</th>
				  <th>Title</th>
			      <th>Author</th>
				</tr>
			    <tr>
			      <td> PhD dissertation (2019)</td>
			      <td> <a href=http://rave.ohiolink.edu/etdc/view?acc_num=osu1563505463237874>Practical High-Coverage Sound Predictive Race Detection</a></td>
			      <td> Jake Roemer</td>
			    </tr>
			    <tr>
			      <td> PhD dissertation (2017)</td>
			      <td> <a href=http://rave.ohiolink.edu/etdc/view?acc_num=osu1492703503634986>Efficient, Practical Dynamic Program Analyses for Concurrency Correctness</a></td>
			      <td> Man Cao</td>
			    </tr>
			    <tr>
			      <td> PhD dissertation (2017)</td>
			      <td> <a href=http://rave.ohiolink.edu/etdc/view?acc_num=osu149269601946527>Efficient Compiler and Runtime Support for Serializability and Strong Semantics on Commodity Hardware</a></td>
			      <td> Aritra Sengupta</td>
			    </tr>
			    <tr>
			      <td> PhD dissertation (2016)</td>
			      <td> <a href=http://rave.ohiolink.edu/etdc/view?acc_num=osu1470957618>Practical Support for Strong, Serializability-Based Memory Consistency</a></td>
			      <td> Swarnendu Biswas</td>
			    </tr>
			    <tr>
			      <td> PhD dissertation (2016)</td>
			      <td> <a href=http://rave.ohiolink.edu/etdc/view?acc_num=osu1469557197>Efficient Runtime Support for Reliable and Scalable Parallelism</a></td>
			      <td> Minjia Zhang</td>
			    </tr>
			    <tr>
			      <td> Master's thesis (2014)</td>
			      <td> <a href=http://rave.ohiolink.edu/etdc/view?acc_num=osu1397231571>Efficient Context Sensitivity for Dynamic Analyses via Calling Context Uptrees and Customized Memory Management</a></td>
			      <td> Jipeng Huang</td>
			    </tr>
			    <tr>
			      <td> PhD dissertation (2008) &nbsp;&nbsp;</td>
			      <td> <a href="papers.html#thesis">Diagnosing and Tolerating Bugs in Deployed Systems</a></td>
			      <td> Michael David Bond</td>
			    </tr>
			</table>
		</div>
	</div>
</div>