
<h1>Teaching, Activities, Awards, and Funding</h1>
<table>
  <caption><i class="fas fa-apple-alt"></i>Teaching</caption>
  <tr>
    <th scope="col">Semester</th>
    <th scope="col">Course</th>
    <th scop="col">Course Page</th>
  </tr>
</table>
