<h2><%=@studentName%><%=@grade %><%=@course %> Profile</h2>
<a href="/student/application"  class="btn btn-primary">Create & Submit New Application</a>
<!--a href="/student/application/edit" class="btn btn-primary">Edit Previous Application</a-->


