<h2 class="text-center"><%=@studentName%>'s Profile</h2>
<div class="center">
  <a href="/student/application"  class="btn btn-primary applicationButton">Create or Update Your Grader Application</a>
</div>
<div>
  <%= week_calendar do |date| %>
    <%= date %>
  <% end %>
</div>
<p class="text-center">To view your existing transcripts, click <a href="/student/application">here</a></p>