<h2><%=@studentName%>'s Profile</h2>
<a href="/student/application"  class="btn btn-primary">Create & Submit Your Grader Application</a>
<table>
  <tr>
    <th>Course Number</th>
    <th>Grade</th>
  </tr>
  <%  @studentGrades.each do |transcript| %>
  <tr>
    <td>CSE <%= transcript.course_id %></td>
    <td><%= transcript.grade %></td>
  </tr>
  <% end %>
</table>
