// Place all the styles related to the instructor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.recommend-btns {
  text-align: center;
  margin: 20px
}

.card {
  margin: 40px 0;
}

.evalLabel {
  margin-left: 4px;
  margin-right: 12px;
}