// Place all the styles related to the student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.classAddIcon {
  margin-top: 35px;
  cursor: pointer;
}

.grade-form {
  width: 75%;
  margin: 0 auto !important;
  padding: 30px 0;
}

.grade-form .row {
  margin: 16px;
}

.saveAvailabilityButton {
  margin-top: 14px;
}

.gradeTextInfo {
  padding-left: 30px;
}

.saveGradesButton {
  margin-left: 30px;

}

.graderAppButton {
  width: 200px;
  text-align: center;
}