// Place all the styles related to the student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*
 *= require simple_calendar
 */
.classAddIcon {
  margin-top: 35px;
}

.grade-form {
  width: 50%;
  margin: 0 auto !important;
  padding: 30px 0;
}

.grade-form .row {
  margin: 16px;
}

.saveAvailabilityButton {
  margin-top: 14px;
}

.gradeTextInfo {
  padding-left: 30px;
}

.saveGradesButton {
  margin-left: 30px;

}

.graderAppButton {
  width: 200px;
  text-align: center;
}

.center {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  margin-top: 50px;
  margin-bottom: 50px;
  transform: translate(-50%, -50%);
}