// This file defines the styles used for the welcome view 

body{
	background-color: LightGray;
}	

h1{
	text-align: center;
}

table, th, td {
	border: 3px solid red;
	font-family: "Georgia", serif;
	margin-left: auto;
	margin-right: auto;
}

th, td{
	padding: 10px;
}	

tr:hover {background-color: white}